
/*Header style*/
header {
    position: sticky;
    top: 0;
    margin-bottom: 1em;
}
.logo {
    
}
h1 {
    color:azure;
}

/*Golbal navigation style*/
.global-nav {
    list-style-type: none;
    margin: 0;
    background-color:antiquewhite;
    display: flex;
}
.global-nav li a {
    display: block;
    color:rgb(23, 30, 32);
    padding: 14px 16px;
    text-decoration: none;
}
.global-nav li a:hover {
    background-color: bisque;
}

/*Body style*/
body {
    background-color:darkslateblue;
}

.box{
background-color:aquamarine;
}
.grid-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    gap: 1em; 
    border-radius: 15px;
    overflow: hidden;
    grid-template-areas:
    "box-1 box-1 box-2"
    "box-1 box-1 box-2";
}